<label class="floating-label text-left">
    <span>{{label()}}</span>
        <input
            class="input w-full"
            [type]="type()"
            min="0"
            [class.input-error]="control.invalid && control.touched"
            [class.input-success]="control.valid && control.touched"
            [formControl]="control"
            [placeholder]="label()"
        >
    @if (control.hasError('required') && control.touched) {
        <div class="validation-hint text-error text-xs">
            {{label()}} is required
        </div>
    }

    @if (control.hasError('min') && control.touched) {
        <div class="validation-hint text-error text-xs">
            {{label()}} must be a positive number
        </div>
    }
</label>
