/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  overflow-y: hidden;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
