<div class="grid grid-cols-1 lg:grid-cols-4 gap-8 p-8">

    <!-- Create Product -->
    <div class="card bg-base-100 shadow lg:col-span-1">
        <div class="card-body">

            <h2  class="card-title">Create Product</h2>

            <form
                [formGroup]="createProductForm"
                (ngSubmit)="createProduct()"
                class="flex flex-col gap-4">

                <app-text-input
                    label="Product Name"
                    formControlName="displayName"
                />

                <app-text-input
                    label="Units per Case"
                    type="number"
                    formControlName="unitsPerCase"
                />

                <app-text-input
                    label="Shelf Capacity"
                    type="number"
                    formControlName="shelfCapacity"
                />

                <app-text-input
                    label="Shelf Days Allowed"
                    type="number"
                    formControlName="shelfDaysAllowed"
                />

                <div class="card-actions justify-end">
                    <button
                        class="btn btn-primary"
                        type="submit"
                        [disabled]="createProductForm.invalid"
                    >
                        Create
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Products -->
    <div class="card bg-base-100 shadow lg:col-span-3">
        <div class="card-body">

            <h2 class="card-title">Products: ({{ products().length}})</h2>

                @if (validationErrors().length > 0) {
                    <div class="alert alert-error mb-4">
                        <ul>
                            @for (error of validationErrors(); track $index) {
                                <li>{{error}}</li>
                            }
                        </ul>
                    </div>
                }

            <table class="table table-zebra">

                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Units Per Case</th>
                        <th>Capacity</th>
                        <th>Shelf Days</th>
                    </tr>
                </thead>

                <tbody>
                    @if (products().length === 0) {
                        <tr>
                            <td colspan="4" class="text-center">
                                No products
                            </td>
                        </tr>
                    } @else {
                        @for (product of products(); track product.id) {
                            <tr>
                                <td>{{ product.displayName }}</td>
                                <td>{{ product.unitsPerCase }}</td>
                                <td>{{ product.shelfCapacity }}</td>
                                <td>{{ product.shelfDaysAllowed }}</td>
                            </tr>
                        }
                    }

                </tbody>

            </table>

        </div>

    </div>
    
</div>
